spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    password: master2035
    url: jdbc:mysql://localhost:3306/tdbssi?createDatabaseIfNotExist=true&useSSL=false
    username: root
  jpa:
    hibernate:
      ddl-auto: create
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
    show-sql: true
  mail:
    host: smtp.gmail.com
    username: amougouandre37@gmail.com
    password: atqeroheytixqdeo
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
